<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link href="style.css" rel="stylesheet">
    <title> Hover Effects 02 Html CSS Tutorial    </title>
</head>

<body>
    <h1>학습 예제 리스트 </h1>

    <a href="#" style="--clr:#1e9bff"><span>버튼</span><i></i></a>
    <a href="#" style="--clr:#1e9bff"><span>button</span><i></i></a>
    <a href="#" style="--clr:#ff1867"><span>button</span><i></i></a>
    <a href="#" style="--clr:#6eff3e"><span>button</span><i></i></a>


</body>

</html>