/* 기본 설정 */
* {
/*  무조건 전체화면  */
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    /* 글자나 그런게 넘치는 경우 스크롤 말고 걍 안보이게 설정 */
    touch-action: none;
    /*  브라우저에게 맡길 터치 액션을 모두 없앤다. */
  }
  
body {
   

}

/* 컨테이너 설정 */
.container {
  position: absolute;

  z-index: var(--z);
}

/* z1 */
.container {
  
}
