<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>audio play</title>
    <style>
      custom-square {
        margin: 20px;
      }
    </style>

  </head>
  <body>
    <h1>audio play</h1>

    <audio controls="controls">
      <source src="http://greenrain01.kro.kr:8000/media_file/BGM.mp3" type="audio/mp3" />
      <source src="../../../static/test_mp4.mp4" type="audio/mp3" />
    </audio>
<!--   <video id="video" width="320" height="240"></video> -->
<!--         <script src="main.js"></script> -->

  </body>
</html>