<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="style.css" rel="stylesheet">
    <title> Hover Effects 02 Html CSS Tutorial    </title>
</head>

<body>
    <h1>학습 예제 리스트 </h1>
    <div class="container">
        <div class="bubbles">
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:14;"></span>
            <span style="--i:13;"></span>
            <span style="--i:17;"></span>
            <span style="--i:19;"></span>
            <span style="--i:17;"></span>
            <span style="--i:12;"></span>
            <span style="--i:14;"></span>
            <span style="--i:19;"></span>
            <span style="--i:16;"></span>
            <span style="--i:18;"></span>
            <span style="--i:12;"></span>
            <span style="--i:9;"></span>
            <span style="--i:15;"></span>
            <span style="--i:20;"></span>

        </div>
    </div>
  
</body>

</html>